# Deny everything by default
*

# Then explicitly allow only specific files
!dashboard/
!dashboard/*

!data_generation/
!data_generation/*

!dbt/
!dbt/*

documents/
documents/*

!great_expectations/
!great_expectations/*

!ingestion/
!ingestion/*

!ml_models/
!ml_models/*

!scripts/
!scripts/*

!global_requirements.txt
!requirements.txt
!architecture.md
!readme.md

# Deny sensitive files even if they match allowed patterns
.env
__pycache__/
*.pyc
.venv/
venv/
